<template>
  <section>
    <div class="flex">
      <div class="max-w-xs">
        <label for="wallet" class="block text-sm font-medium text-gray-700">Тикер</label>
        <div class="mt-1 relative rounded-md shadow-md">
          <input
              v-model="ticker"
              @keydown.enter="add"
              type="text"
              name="wallet"
              id="wallet"
              class="block w-full pr-10 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md"
              placeholder="Например DOGE"/>
        </div>
        <div v-if="suitableTickers.length > 0" class="flex bg-white shadow-md p-1 rounded-md shadow-md flex-wrap">
              <span v-for="sTicker in suitableTickers"
                    @click="autocompleteTicker(sTicker)"
                    :key="sTicker"
                    class="inline-flex items-center px-2 m-1 rounded-md text-xs font-medium bg-gray-300 text-gray-800 cursor-pointer">
              {{sTicker}}
              </span>
        </div>
        <div v-if="tickerExists" class="text-sm text-red-600">Такой тикер уже добавлен</div>
      </div>
    </div>
    <add-button @click="add" type="button" class="my-4" :disabled="disabled"></add-button>
  </section>
</template>

<script>
import AddButton from './AddButton.vue';

export default {
  name: "AddTicker",
  components: {
    AddButton,
  },
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    existingTickersList: {
      type: Array,
      required: false,
      default: [],
    },
    tickers: {
      type: Array,
      required: false,
      default: [],
    },
  },
  emits: {
    'add-ticker': function (value) {
      return typeof value === "string" && value.length > 0;
    },
  },
  data(){
    return{
      ticker: '',
      maxAvailableHint: 4,
    }
  },
  computed: {
    tickerExists(){
      return this.tickers.find(t => (t.name.toUpperCase() === this.ticker.toUpperCase()));
    },
    suitableTickers(){
      let suitableTickerList = [];
      if(this.existingTickersList.length > 0 && this.ticker !== ''){
        this.existingTickersList.some(symbol => {
          if (symbol.search(this.ticker.toUpperCase()) > -1){
            suitableTickerList.push(symbol);
            if(suitableTickerList.length === this.maxAvailableHint){
              return true;
            }
          }
        });
      }

      return suitableTickerList;
    },
  },
  methods: {
    add(){
      if (this.ticker.length === 0)
        return;
      this.$emit('add-ticker', this.ticker);
      this.ticker = '';
    },
    autocompleteTicker(ticker){
      this.ticker = ticker;
      this.add();
    },
  },
}
</script>